.faqfather{
    display: flex;
    flex-direction: column;
}
.faqheader{
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: flex-start;
    
}
.faqw{
    color: orange;
    margin-left: 22rem;
    
}
.faqboxes{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.faqboxg1{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}
.faqboxg2{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}
.boxfaq{
    width: 33rem;
    height: 5rem;

    margin-bottom: 20px;
}
.boxfaq{
    display: flex;
   
    background-color: #2b2a54;
    border-radius: 20px;
    justify-content: space-between;
}
.faqtxt{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 20px;
}
.thesearchbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: #0088fe;
}
.howbox{
    background-color: #2b2a54;
    margin-top: -20px;
    width: 31rem;
    margin-bottom: 25px;
}
.parrenthowbox{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
@media (max-width: 700px){
    .faqboxes{
        flex-direction: column;
        
    }
    .faqheader{
        justify-content: center;
    }
    .faqw{
        margin-left: 0rem;
    }
    .faqboxg1{
        justify-content: center;
        align-items: center;
        width: 60%;
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .faqboxg2{
        justify-content: center;
        align-items: center;
        width: 60%;
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .boxfaq{
        width:20rem
    }
}