.parrentvalue{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.leftsidevalue{

    height: 30rem;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightsidevalue{

height: 30rem;
width: 40%;
display: flex;

flex-direction: column;
}
.valueimg{
    height: 30rem;
}
.rightvalueheader{

    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
}
.logoheart{
    height: 30px;
    width: 160px;

}
.orangevalue{
    margin-left: 3px;
    color: orange;
}
.valuescaption{
    margin-top: 30px;
    font-size: small;
}
.valuecon{
    width: 25rem;
    height: 10rem;
    background-color: #2b2a54;
    margin: 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition-duration: 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 80px;
    flex-direction: column;
}
.hearticon{
    color: #0088fe;
}
.fourvalues{
    display: flex;
    flex-direction: column;
}
.conv1{
    display: flex;
}
.conv2{
    display: flex;
}
.hearticon{
    margin-top: -110px;
    margin-left: -130px;
}
.valuecaption{
    font-size: 0.8rem;
    margin-bottom: -90px;
}


@media (max-width: 700px) {
    .parrentvalue{
        flex-direction: column;
    }
    .valueimg{
        height: 30rem;
    }
    .rightsidevalue{
        
        margin-top: 60px;
        width: 100%;
    }
    .rightvalueheader{
        justify-content: center;
    }
    .valuescaption{
        display: flex;
        justify-content: center;
    }
    .valuecon{
        justify-content: center;
        align-items: center;
        margin-left:5%;
    }
    .valuescaption{
        text-align: center;
        font-size: smaller;
    }
    .rightvalueheader{
       
        text-align: center;
    }
    .conv1{
        margin-top: 70px;
    }
}